doctype html
html
  head
    title Morg
    link(rel='stylesheet' href='css/interface.css')
    script(src='s/jquery.js' type='text/javascript')
    script(src='s/angular.js' type='text/javascript')
    block head
  body
    block body