extends layout

block head
  script(src="s/main.js" type="text/javascript")
  link(rel="stylesheet" type="text/css" href="css/main.css")

block body
  #container(ng-app="morg")
    #sidebar
      #title-area
        span.title Morg
      ul#tools
        li Notes
    #notes-area(ng-controller="noteController")
      #top
        span.sec-header Notes
        input.search(type="text" placeholder="search")
      #notes
        .note(ng-repeat="note in notes")
          .note-title.
            {{ note.name }}
          .note-contents.
            {{ note.contents }}